.galleryContainer {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    overflow: hidden;
    grid-auto-flow: dense;
    grid-template-areas: "one two three big big"
        "four five six big big";
}


.galleryContainer img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    transition: all 0.8s ease;

}



.smallOnes:hover img {

    box-shadow: 2px 2px var(--fontColor);
    filter: hue-rotate(20deg) contrast(1.3) brightness(0.7) grayscale(0.8);
}

.smallOnes:active img {
    box-shadow: 2px 2px var(--backgroundEmphasis);
    filter: contrast(1.3) brightness(0.7);
}




.smallOnes {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
}


.smallOnes>p {
    visibility: hidden;
}

.smallOnes::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60%;
    left: 0;
    text-align: center;
    content: attr(data-text);
    opacity: 0;
    font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: var(--fontColor);
    font-size: 2em;
    text-shadow: 3px 3px 0 var(--backgroundBase);
    transition: all 0.8s ease;
}

.smallOnes:hover::after {
    opacity: 1;
}

.smallOnes:active::after {
    text-shadow: 3px 3px 0 var(--backgroundEmphasis);
}

.smallOnes>.arrow{
    display: none;
}


.bigOne {
    grid-area: big;
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
}
.bigOne>.arrow{
    color: var(--backgroundBase);
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s linear;
    border-radius: 100%;
    border: 4px solid var(--backgroundBase);
}
.bigOne>.backward{
    left: 0;
}

.bigOne>.forward{
    right: 0;
}

.bigOne>.arrow:hover{
    opacity: 0.8;
}



.bigOne>span {
    position: absolute;
    top: 0;
    padding: 10%;
    color: var(--fontColor);
}

@media screen and (max-width: 900px) {
    .galleryContainer {
        justify-content: space-between;
        gap: 5px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
            "big big big"
            "big big big"
            "big big big"
            "one two three"
            "four five six";
    }

    .bigOne {
        padding-bottom: 20px;
    }

    .floatingDiv {
        grid-area: span 1 / span 1;
    }


}