:root{
  --violet: rgb(46, 17, 73);
  --whiteNav:  rgb(236, 240, 255);
  --hoverNav: #ffcb3d;

}
*{
  margin: 0;
  padding: 0;
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr;
  width: 100vw;
  height: 100vh;
  gap: 1em;
  text-align: center;
  border-bottom: 4px solid black;
  grid-template-areas:"header   header"
                      "cont     cont"
                      "footer   footer";
}

.navBarGrid{
  background: rgb(27, 1, 27);
  grid-area: header;
  display:inline-flex;
  align-items: baseline;
  justify-content: space-evenly;
  font-family: 'Work Sans', sans-serif;
}


.navItem a {
  color: var(--whiteNav);
  text-decoration: none;
  font-size: 25px;
  font-weight:400;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navItem a:hover {
  color: var(--hoverNav);
  padding-bottom: 7px;
  border-bottom: 2px solid var(--hoverNav);
}

.navItem a.contact {
  background-color: rgba(0,0,0,.3);
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

.navItem a.contact:hover {
  background-color: rgba(150,0,0,.3);
  color:  var(--whiteNav);
  border-bottom: none;
}

.logo {
  color: var(--whiteNav);
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}


@media screen and (max-width: 900px) {
  .logoResp{
    display: none;
  }
}  



.logoBorder {
  color: rgb(27, 1, 27);
  text-shadow: 1px 1px var(--whiteNav), -1px -1px var(--whiteNav), -1px 1px var(--whiteNav), 1px -1px var(--whiteNav);
}


