


@keyframes myAnim {
  from{
    opacity: 0.8;
    transform:translateX(calc(var(--animation-size)*-1)) rotateY(-90deg) scaleX(0.75) rotateX(var(--angle)) ;
  }
  25%{
    opacity: 1;
    transform:  rotateY(0deg) rotateX(var(--angle));
  }
  50%{    
    opacity: 0.8;
    transform:translateX(var(--animation-size))  rotateY(90deg) scaleX(0.75) rotateX(var(--angle));
  }
  75% {
    opacity: 0.3;
    transform: rotateY(180deg) scaleX(0.50) rotateX(var(--angle));
  }
  to{ 
    opacity:0.8;
    transform:translateX(calc(var(--animation-size)*-1)) rotateY(270deg) scaleX(0.75) rotateX(var(--angle));
  }
}


.world{
  position: relative;
  height: 250px;
  width: 250px;
}

.world>div{
  --animation-size: 10em;
  --animTime: 3s;
  --animLap: 0s;
  --angle: 0deg;
  opacity: 0;
  position: absolute;
  font-size: medium;
  width: 100px;
  left: 70px;
  font-weight: bolder;
  height: 40px;
  background:transparent;
  color:rgb(255, 255, 255);
  text-align: center;
  animation-name: myAnim;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: calc(var(--animTime) * 1.5);
  transform-style: preserve-3d;
  animation-delay: calc(var(--animTime) * var(--animLap));
  cursor: default;  
  user-select: none; 
}

.world>div:hover{
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;/*TODO change to var(--violetStrong)*/
  color: rgb(206, 172, 252);
}



.world>:nth-of-type(5n-4){
  height: 30px;
  font-size: small;
  --animTime: 2s;
  --animation-size: 60px;
  --angle: 30deg;
  top: 50px;
}
.world>:nth-of-type(5n-3){
  height: 40px;
  font-size:medium;
  --animation-size: 100px;
  --animTime: 4.2s;
  --angle: 20deg;
  top: 80px;
}
.world>:nth-of-type(5n-2){
  height: 60px;
  font-size:x-large;
  --animation-size: 110px;
  --animTime: 5.5s;
  top: 120px;
}
.world>:nth-of-type(5n-1){
  height: 40px;
  font-size: medium;
  --animation-size: 100px;
  --animTime: 3.5s;
  --angle: -20deg;
  top: 160px;
}
.world>:nth-of-type(5n){
  height: 30px;
  font-size: small;
  --animation-size: 60px;
  --animTime: 2.2s;
  --angle: -30deg;
  top: 190px;
}

.world>:nth-of-type(n+6){
  --animLap: 0.6;
}
.world>:nth-of-type(n+11){
  --animLap: 1;
}

.worldAnimationCenter{
  font-size: medium;
  width: 100px;
  font-weight: bolder;
  height: 40px;
  background:transparent;
  color:midnightblue;
  position: absolute;
  left: 400px;
  text-align: center;
  animation: none;
  height: 60px;
  font-size: large;
  top: 110px;
  color:whitesmoke;
  text-shadow: 0.5px 0.5px black;
  visibility: hidden;
}