:root {
  --violet: rgb(20, 11, 18);
  --whiteNav: rgb(236, 240, 255);
  --hoverNav: #ffcb3d;
  --navbar: rgb(27, 10, 24, 0.98);
  --strongViolet: rgba(57, 0, 71, 0.5);
}

/* :root {
  --violet: rgb(20, 11, 17);
  --whiteNav: rgb(255, 241, 236);
  --hoverNav: #1ac483;
  --navbar:  rgba(36, 22, 56, 0.9);
  --strongViolet: rgba(0, 17, 71, 0.5);
} */



body {
  background-image: url('components/img/n.svg');
  background-color: var(--violet);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 70px auto 1fr 20px;
  width: 100vw;
  height: 95vh;
  gap: 5px;
  text-align: center;
  grid-template-areas: "header     header"
    "menu-l     menu-l"
    "contain       contain"
    "footer       footer";
}

.navBar {
  
  font-family: "Josefin Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: var(--navbar);
  grid-area: header;
  display: inline-flex;
  align-items: baseline;
  justify-content: space-evenly;
  border: 2px solid var(--hoverNav);
  border-radius: 10px;
  margin: 5px;
  font-size: 1.4em;
  font-weight: bold;
}




.navlink {
  background-image: linear-gradient(to right,
      var(--hoverNav),
      var(--hoverNav) 50%,
      var(--whiteNav) 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  color: var(--whiteNav);
}




.navlink:hover,
.hamb:hover {
  background-position: 0;
  border-color: var(--hoverNav);
}


.navlink::before {
  content: '';
  background: var(--hoverNav);
  display: block;
  position: absolute;
  border-radius: 5px;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.4s ease-in-out;
}



.navlink:hover::before {
  width: 100%;
}




.nlActive {
  color: var(--hoverNav);
  text-decoration: none;
  cursor: default;
  display: inline-block;
  padding: 5px 0;
  position: relative;
}


.logo {
  
  font-family: 'Limelight', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: var(--whiteNav);
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transform: translateY(.2em);
}


.logoBorder {
  color: var(--whiteNav);

  text-decoration: none;
}

.hamb,
.ch_hamb {
  display: none;
}



.logoBorder::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 105%;
  color: var(--navbar);
  text-shadow: 1px 1px var(--hoverNav), -1px -1px var(--hoverNav), -1px 1px var(--hoverNav), 1px -1px var(--hoverNav);
  border-right: 2px solid var(--hoverNav);
  overflow: hidden;
  animation: animLogo 1.5s steps(1) infinite;
}


@keyframes animLogoHover {

  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  80% {
    width: 100%;
  }
}

@keyframes animLogo {

  0%,
  100% {
    border-right: none;
  }

  50% {
    border-right: 2px solid var(--hoverNav);
  }


}


.logoBorder:hover::before {
  animation: animLogoHover 8s linear infinite;
}




.disableScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

.disableScrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}




.slider {
  grid-area: contain;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */

}
.pageContainer {
  grid-area: contain;
  height: calc(100vh - 100px);
  justify-self: center;
  align-self: center;
  width: 90%;
  background-color: var(--navbar);
  border-radius: 15px;
  border: 2px solid var(--hoverNav);
  box-shadow:  14px 0px 20px var(--navbar);
  overflow: hidden;
}

@media screen and (max-width: 900px) { /*MEDIA QUERY*/

  .navBar {
    display: inline-flex;
    grid-area: header / header / menu-l /menu-l;
    flex-direction: column;
    justify-content: flex-start;
  }


  .navlink,
  .nlActive {
    padding-left: 1em;
    /* margin-left: 10px; */
    margin-bottom: 1em;
    padding-top: 1em;
  }

  .hamb {
    display: initial;
  }

  .logoBorder {
    font-size: 1.2em;
  }

  .logoNavBar {
    width: 100%;
    height: 5em;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;
    justify-content: center;
    align-items:center;
    font-size: 0.5em;
    order: -1;
    border-bottom: 2px solid var(--hoverNav);
  }

  .symbol::after {
    content: "\1F5D9";
    padding-bottom: 2px;
    font-size: 2em;
    border-radius: 15%;
    transition: all 0.5s ease-in-out;
    color: var(--whiteNav);
    font-weight: 400;
    border: 2px solid var(--whiteNav);
  }

  .symbol:hover::after {
    color: var(--hoverNav);
    border: 2px solid var(--hoverNav);
  }

  input[type=checkbox]:checked~.navlink,
  input[type=checkbox]:checked~.nlActive {
    display: none;
  }


  input[type=checkbox]:checked~.logoNavBar>.hamb>.symbol::after {
    content: "\2630";
    padding: 4px;
  }

  input[type=checkbox]:checked~.logoNavBar {
    border-bottom: none;
  }
  .logoBorder::before {
    display: none;
  }

}/* MEDIA*/